.search-avatar-box {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

#navbar {
  background-color: #fff;
  color: #000;
}

#link {
  color: #fff;
  text-decoration: none;
}

#settings-menu {
  color: #000;
  text-decoration: none;
  text-align: center;
}

.cart-icon {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #brand-name {
    display: none;
  }
}
